In [1]:
import geopandas as gpd
import pandas as pd
import folium

In [2]:
mesh_gdf = gpd.read_file('https://www.e-stat.go.jp/gis/statmap-search/data?dlserveyId=Q&code=5539&coordSys=1&format=shape&downloadType=5')

In [3]:
pop_df = pd.read_csv('https://www.e-stat.go.jp/gis/statmap-search/data?statsId=T000847&code=5539&downloadType=2', skiprows=1, na_values='*', compression='zip', encoding='SHIFT_JIS')

In [4]:
#データの確認
pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3493 entries, 0 to 3492
Data columns (total 45 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 3493 non-null   int64
 1   Unnamed: 1                 3493 non-null   int64
 2   Unnamed: 2                 811 non-null    float64
 3   Unnamed: 3                 600 non-null    object
 4   　人口総数                      3493 non-null   int64
 5   　人口総数　男                    3493 non-null   int64
 6   　人口総数　女                    3493 non-null   int64
 7   　０〜１４歳人口総数                 2682 non-null   float64
 8   　０〜１４歳人口　男                 2682 non-null   float64
 9   　０〜１４歳人口　女                 2682 non-null   float64
 10  　１５歳以上人口総数                 2682 non-null   float64
 11  　１５歳以上人口　男                 2682 non-null   float64
 12  　１５歳以上人口　女                 2682 non-null   float64
 13  　１５〜６４歳人口総数                2682 non-null   float64
 14  　１５〜６４歳人口　男                2682 non-null   float64
 15  　１５〜６４歳人口　女                2682 non-null   float64
 16  　２０歳以上人口総数                 2682 non-null   float64
 17  　２０歳以上人口　男                 2682 non-null   float64
 18  　２０歳以上人口　女                 2682 non-null   float64
 19  　６５歳以上人口総数                 2682 non-null   float64
 20  　６５歳以上人口　男                 2682 non-null   float64
 21  　６５歳以上人口　女                 2682 non-null   float64
 22  　７５歳以上人口総数                 2682 non-null   float64
 23  　７５歳以上人口　男                 2682 non-null   float64
 24  　７５歳以上人口　女                 2682 non-null   float64
 25  　外国人人口総数                   2682 non-null   float64
 26  　外国人人口　男                   2682 non-null   float64
 27  　外国人人口　女                   2682 non-null   float64
 28  　世帯総数                      3493 non-null   int64
 29  　一般世帯数                     3493 non-null   int64
 30  　１人世帯の一般世帯数                2682 non-null   float64
 31  　２人世帯の一般世帯数                2682 non-null   float64
 32  　３人世帯の一般世帯数                2682 non-null   float64
 33  　４人世帯の一般世帯数                2682 non-null   float64
 34  　５人世帯の一般世帯数                2682 non-null   float64
 35  　６人世帯の一般世帯数                2682 non-null   float64
 36  　７人以上世帯の一般世帯数              2682 non-null   float64
 37  　親族のみの一般世帯数                2682 non-null   float64
 38  　核家族の一般世帯数                 2682 non-null   float64
 39  　核家族以外の一般世帯数               2682 non-null   float64
 40  　６歳未満世帯員のいる一般世帯数           2682 non-null   float64
 41  　６５歳以上世帯員のいる一般世帯数          2682 non-null   float64
 42  　世帯主の年齢が２０〜２９歳の１人世帯の一般世帯数  2682 non-null   float64
 43  　高齢単身の一般世帯数                2682 non-null   float64
 44  　高齢夫婦のみの一般世帯数              2682 non-null   float64
dtypes: float64(37), int64(7), object(1)
memory usage: 1.2+ MB

In [23]:
pop_df = pop_df.rename(columns={'Unnamed: 0':'KEY_CODE'})
pop_df = pop_df.astype({'KEY_CODE':'str'})

In [9]:
pop_df

,KEY_CODE,Unnamed: 1,Unnamed: 2,Unnamed: 3,人口総数,人口総数 男,人口総数 女,０〜１４歳人口総数,０〜１４歳人口 男,０〜１４歳人口 女,...,６人世帯の一般世帯数,７人以上世帯の一般世帯数,親族のみの一般世帯数,核家族の一般世帯数,核家族以外の一般世帯数,６歳未満世帯員のいる一般世帯数,６５歳以上世帯員のいる一般世帯数,世帯主の年齢が２０〜２９歳の１人世帯の一般世帯数,高齢単身の一般世帯数,高齢夫婦のみの一般世帯数
0,553900001,0,NaN,NaN,28,15,13,4.0,3.0,1.0,...,0.0,1.0,6.0,5.0,1.0,0.0,2.0,0.0,0.0,1.0
1,553900002,0,NaN,NaN,337,161,176,33.0,13.0,20.0,...,5.0,1.0,89.0,61.0,28.0,13.0,84.0,3.0,20.0,23.0
2,553900003,0,NaN,NaN,205,87,118,21.0,10.0,11.0,...,1.0,2.0,53.0,36.0,17.0,5.0,39.0,0.0,6.0,8.0
3,553900004,0,NaN,NaN,244,125,119,39.0,23.0,16.0,...,2.0,2.0,68.0,56.0,12.0,8.0,34.0,4.0,5.0,6.0
4,553900011,0,NaN,NaN,134,65,69,11.0,4.0,7.0,...,1.0,0.0,35.0,24.0,11.0,5.0,29.0,3.0,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,553977722,1,NaN,553977721,71,35,36,8.0,5.0,3.0,...,1.0,3.0,21.0,14.0,7.0,3.0,18.0,0.0,1.0,3.0
3489,553977824,2,553977922.0,NaN,5,2,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3490,553977922,1,NaN,553977824,30,15,15,1.0,0.0,1.0,...,0.0,0.0,10.0,3.0,7.0,0.0,9.0,0.0,0.0,1.0
3491,553977931,1,NaN,553977934,35,14,21,4.0,0.0,4.0,...,1.0,1.0,9.0,4.0,5.0,0.0,11.0,0.0,2.0,0.0
3492,553977934,2,553977931.0,NaN,2,1,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#人口総数の最大値確認
pop_df['　人口総数'].max()

1219

In [ ]:
#コロプレス表示
m = folium.Map(location=(35.689, 139.692),zoom_start='13')
folium.Choropleth(
    geo_data=mesh_gdf.to_json(),
    data=pop_df,
    columns=['KEY_CODE','　人口総数'],
    key_on='feature.properties.KEY_CODE',
    bins=[0,200,400,600,800,1000,1200,1400],
    fill_color='OrRd',
    fill_opacity=0.7,
    nan_fill_opacity=0
).add_to(m)
display(m)